diffsynth.egg-info/
*.egg
*.pyc
__pycache__/
*.pyo
models/
wget-log
Subjects200K/
SemAlign-MS-Subjects200K/
prepared_data_original/
train/
wandb/
wandb/debug.log
wandb/latest-run
wandb/debug-internal.log
wandb/debug-internal.log
